{{>navBar.hbs}}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
  <title>Administar pois</title>
</head>

	<br>
	<br>
  <h1>Administar pois</h1>  
  <body style="margin:50px 0; padding:0;text-align:center;">
  
	  {{>selectorTipo.hbs}}
    
    	<form action="/administrar-pois" method="GET">	
	 		<input class="passwd" type="text" id="nombre" value="nombre del POI" name="nombre" placeholder="nombre" size="25" max="10">
        	<input class="botonIngresar" type="submit" value="Buscar">
        </form>
        
        
    
    <br>
    <div>
        <table class="table table-stripped" align="center">
            <tr class="row header">
            <th class="cell" >Nombre</th>
            <th class="cell" >Direccion</th>
            <!-- <th class="cell" >Tipo<br></th> -->
            <th class="cell" >Modificar<br></th>
            <th class="cell" >Eliminar<br></th>
        </tr>
        
        {{#each pois}}
			   <tr class="row">
				   <td>{{nombre}}</td>
				   <td>{{direccion}}</td>
				   <!-- <td>{{poi_tipo}}</td> -->
				   <td>
				   		<form action="/modificarPoi" method="GET">
				   			<input type="hidden" name=poiId value={{poiId}} >
				   			<input type="submit" value="M">
				   		</form>
				   </td>
				   <td>
				   		<form action="/bajaPoi" method="POST">
				   			<input type="hidden" name=poiId value={{poiId}} >
				   			<input type="submit" value="X">
				   		</form>
				   </td>
			  </tr>
		      {{/each}}
        </table>
    </div>
  
 </body>
</html>
