{{>navBar.hbs}}
<!DOCTYPE html>
<html>
  <head>
    
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	
  <link rel="stylesheet" type="text/css" href="listado-consultas.css" media="screen" />
    <title>POIS</title>
	
  </head>
  <body>
  
  <h2>POI</h2>
  <div></div>
  <div></div>
  <div>
  <table class="table table-stripped" align="center">
   <tr class="row header">
 	<th class="cell">Nombre</th>
 	<th class="cell">Calle</th>
 	<th class="cell">Direccion</th>
	<th class="cell">Ubicacion</td>	 
 	<th class="cell">Comuna</td>
  </tr>
 	
 		
 	<tr class="row">
 	 <td class="cell">{{poi.nombre}}</td>
     <td class="cell">{{poi.calle}}</td>
 	 <td class="cell">{{poi.direccion}}</td>	 
 	 <td class="cell">{{poi.ubicacion}}</td>	 
 	 <td class="cell">{{poi.numeroComuna}}</td>
 			   <!--<td> <button class="botonBuscar"> Ver&nbspMas </button> </td> 
			   -->		
	</tr> 
	</table> 
	</div>
  </body>
</html>