{{#partial "titulo"}}
 Detalle de POI
{{/partial}}	
  
{{#partial "principal"}}
  
  <h2>Detalle de POI</h2>
  <h3> ID : {{poi.id}}</h3>  
  <h3> Tags : {{poi.tags}}</h3>
  <h3> Tipo : {{poi.class}}</h3>
  <div></div>
  <div>
  <table class="table table-stripped" align="center">
   <tr class="row header">
 	<th class="cell">Nombre</th>
 	<th class="cell">Calle</th>
 	<th class="cell">Direccion</th>
	<th class="cell">Ubicacion</td>	 
 	<th class="cell">Comuna</td>
  </tr>
 	
 		
 	<tr class="row">
 	 <td class="cell">{{poi.nombre}}</td>
     <td class="cell">{{poi.calle}}</td>
 	 <td class="cell">{{poi.direccion}}</td>	 
 	 <td class="cell">{{poi.ubicacion}}</td>	 
 	 <td class="cell">{{poi.numeroComuna}}</td>
 			   <!--<td> <button class="botonBuscar"> Ver&nbspMas </button> </td> 
			   -->		
	</tr> 
	</table> 
	
	
	
	</div>
{{/partial}}
{{>layout.hbs}}