{{#partial "titulo"}}
 Resultado de Busqueda
{{/partial}}

{{#partial "principal"}}
 <h1>Resultado Busqueda</h1>
 <h2>Terminal : {{terminal.numeroTerminal}}</h2>
		
   <div>    </div>
   <div>    </div> 
  	<div class = "wrapper">
 	<table class="table">
 		   <tr class="row header">
 		   	   <th class="cell">Nombre</th>
 			   <th class="cell">Calle</th>
 			   <th class="cell">Direccion</th>
			   <th class="cell"></th>
 		   </tr>
 	
 		   {{#each pois}}
 		    <tr class="row">
 			   <td class="cell">{{nombre}}</td>
 			   <td class="cell">{{calle}}</td>
 			   <td class="cell">{{direccion}}</td>
 			   <!--<td> <button class="botonBuscar"> Ver&nbspMas </button> </td> -->
			   		   
			  <form action="/poi" method="GET" id="detalle_poi">
 			   	  <!--input type="hidden" name=id value={{id}}-->
				  <input type="hidden" name=id value=3 >									
			  </form>
			  <td><input form = "detalle_poi" class="botonBuscar" type="submit" value="VER MAS"></td>
 		  </tr>
 	      {{/each}}
 	</table>
 	</div>		   
{{/partial}}
{{>layout.hbs}}

    
 



