{{#partial "titulo"}}
 Resultado de Busqueda
{{/partial}}

{{#partial "principal"}}
 <h1>Resultado Busqueda</h1>
 <h2>Terminal : {{terminal.numeroTerminal}}</h2>
 
   <div>    </div>
   <div>    </div> 
		
  {{#if pois}}		
  	<div class = "wrapper">
 	<table class="table">
 		   <tr class="row header">
 		   	   <th class="cell">Nombre</th>
 			   <th class="cell">Calle</th>
 			   <th class="cell">Direccion</th>
			   <th class="cell"></th>
 		   </tr>
			
 		   {{#each pois}}
 		    <tr class="row">
 			   <td class="cell">{{nombre}}</td>
 			   <td class="cell">{{calle}}</td>
 			   <td class="cell">{{direccion}}</td>
 			   <td class="cell"> 			   		   
					<form action="/poi" method="GET">
						<input type="hidden" name=id value={{id}}>
						<input class="botonBuscar" type="submit" value="VER MAS">				  
					</form>
			   </td>
 		   </tr>
 	      {{/each}}
 	</table>
 	</div>	
  {{else}}
	 <h3>No se encontraron resultados.</h3>
  {{/if}}  	  

	<form action="/perfil" method="POST">
	  <input class="passwd" type="hidden" name="usuario" value ={{terminal.nombre}}>
	  <input class="passwd" type="hidden" name="password" value="">
      <input class="botonBuscar" type="submit" value="ATRAS">
     
	 </form>
{{/partial}}
{{>layout.hbs}}

    
 



